# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
test_ignore/

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Project context files
context/

# Test files
test/binary-test-files/
# Specifically large files
test/binary-test-files/large-text-file.txt
